
#######################
#ignore file
#######################
/Lis/
/Obj/

#######################
#ignore .name
#######################
*.txt
*.ini
*.dep
*.bak
#######################
#include source/README.TXT
#######################
!/source/README.txt